<h1>Edit <%=@landmark.name%></h1><br>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <p><label for="name"></label> Edit Landmark Name:
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name %>"> 
  </p> 
  <p><label for="year_completed"></label> Edit Year Completed:
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed %>"> 
  </p> 
    <input type="submit" value="Edit Landmark">
</form>